html{
    background-color: #1E1F22;
}

body{
    margin:0;
}

.home-main-div{
    background-color: #1E1F22;
    display: flex;
    width:100vw;
}

.server-toggle{
    /* width: calc(100% - 96vw); */
    width: 5rem;
    height: 100vh;
    position:fixed;
    background-color: #1E1F22;
}


.server-div{
    margin-left: 5rem;
    width:100%;

    height: 100vh;
}

.header-div{
    display:flex;
    box-sizing:border-box;
    /* width:97vw; */
}

.server-header{
    background-color: #2B2D31;
    /* height: 7vh; */
    height: 7vh;
    /* width: 24rem; */
    width: calc(20rem - 1px); /* Adjusted width */

    border-bottom: #1F2124 solid 1px;
    
}

.channel-header{
    background-color: #313338;
    height: 7vh;
    /* width: 92rem; */
    /* width:100%; */
    
    width: calc(100% - 20rem); /* Adjusted width */
    border-bottom: #1F2124 solid 1px;
    
    
}

.content-div{
    display: flex;
}

.left-content-div{
    width:20rem;
    height: 92.8vh;
}



.channel-toggle{
    background-color: #2B2D31;
    /* height:80vh; */
    /* height:85vh; */
    width:24rem;
    height: calc(100% - 7vh); /* Adjust the height as needed */
}

.user-status{
    background-color: #232428;
    /* width: 14rem; */
    height: 7vh;
    /* position: absolute; */
    /* margin-top: 79vh;
    margin-left: 4.2vw; */
    /* bottom: 0; */
    left: 7rem;
}


.channel-container{
    /* width: 100%; */
    margin: 0;
    padding: 0;
}


.content-container{
    /* display: flex; */
    /* width: 100%; */
}

.middle-content-div{
    width:100%;
    /* width:80rem; */
    background-color: #313338;
    height:92.8vh;
}

.post-area{
    /* left: 21vw; */
    box-sizing: border-box;
    width:100%;
    height:85vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.comment{
    background-color: #383A40;
    /* left: 0.5%; */
    width: 96%;
    height: 5vh;
    border-width: 0;
    border-radius: 7px;
    padding-left: 14px;
}

.user-area{
    background-color: #2B2D31;
    height:92.8vh;
    width: 20rem;
}